<p>new-car works!</p>
<form [formGroup]="newCarForm" (ngSubmit)="newCarSubmit()" >
    <input type="text" placeholder="model name" formControlName="name">
    <input type="text" placeholder="year (yyyy)" formControlName="year">
    <p *ngIf="(newCarForm?.get('year')?.hasError('maxlength'))">Solo numero de 4 cifras e.g. 2015</p>    
    <input type="text" placeholder="color" formControlName="color">
    <p *ngIf="(submitted && newCarForm?.get('color')!.hasError('required'))">this field is required</p>
    <button >Submit</button>
</form>
